@tailwind base;
@tailwind components;
@tailwind utilities;


.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; 
  }
  
  .loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width: 600px){
  body{
    width: 100vw;
  }
  #hamburger{
    display: block;
  }
  #head{
    font-size: 5vw;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
  }
  #head2{
    font-size: 4vw;
  }
  .nav{
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .card{
    width: auto;
    height: auto;
  }
  .carddetails{
    width: auto;
    height: auto;
  }
  .cuticon{
    font-size: 5vw;
    color: crimson;
  }
  #searchInput{
    width: 18vw;
  }
  #nice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #searchInput::placeholder{
    font-size: auto
  }
  #select1{
    width: auto;
  }
  
  #sele{
    width: auto;
  }
  #res{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #for{
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
  }
  #responsive1{
    white-space: nowrap;
    font-size: 3.2vw;
    margin: 0px 0px;
  }
  #ehading{
    font-size: 4.5vw;
  }
  #ehading2{
    font-size: 4.5vw;
  }
  .cut{
    font-size: 7vw;
  }
  #responsive2{
    width: 30%;
    padding: 5px 5px;
    font-size: 3vw;
  }
  #title{
    font-size: 3.5vw;
  }
  #des{
    color: rgb(63, 58, 58);
    font-size: 2.5vw;
    text-align: center;
  }
  #kuchtoh{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    
  }
  #kuchtoh2{
    margin: 0;
  }
  .kuch3{
    font-size: 3vw;
    color: rgb(15, 109, 35);
  }
  #col{
    display: flex;
    flex-direction: column;
    
  }
  #kuch4{
    margin-top: 2vh;
    width: auto;
  }
  
  #krke{
    width: auto;
    background-color: rgb(251, 248, 240);
  }
} 