@tailwind base;
@tailwind components;
@tailwind utilities;


.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; 
  }
  
  .loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width: 600px){
  .nav{
    display: flex;
    flex-direction: column;
  }
  .card{
    width: auto;
    height: auto;
  }
  .carddetails{
    width: auto;
    height: auto;
  }
  .cuticon{
    font-size: 5vw;
  }
} 